/*  your css code here. If applicable */
#container::before{
	content: "before element";
	color: rgb(255, 0, 0);
	font-size: 20px;
	text-transform: capitalize;
}
#container::after{
	content: "After element";
	color: rgb(255,  0, 0);
	font-size: 20px;
	text-transform: capitalize;
#container{
	margin: 20px;
}