/*  your css code here. If applicable */
#container{
	margin: 20px;
}
p::before{
	content: " before element ";
	color: red;
	font-size: 20px;
	text-transform: capitalize;
}
p::after{
	content: " after element ";
	color: red;
	font-size: 20px;
	text-transform: capitalize;
}