/*  your css code here. If applicable */
#container{
	margin: 20px;
}
p::before{
	content: "before element";
	color: rgb(255, 0, 0);
	font-size: 20px;
	text-transform: capitalize;
}
p::after{
	content: "After element";
	color: rgb(255,  0, 0);
	font-size: 20px;
	text-transform: capitalize;
}